@model V_Number_TempSearchView
@{
    ViewData["Title"] = " Booking  Slot ";

    ViewData["VActive"] = "active";

}
@inject DropDown.ICommon commonDDL
<partial name="_ConfirmDelete" />

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="row justify-content-start float-right mr-0 mt-2 d-none">

                <a href="@Url.Action("Index","SampleCategory")" class="ml-1">
                    <div class="card-box  bg-white p-1 pr-2 m-0">
                        <p class="text- small mb-0">Figure 1</p>
                        <p class="text-dark m-0 mb-0">0.00</p>
                    </div>
                </a>

                <a href="@Url.Action("Index","Customer")" class="ml-1">
                    <div class="card-box  bg-white p-1 pr-2 m-0">
                        <p class="text- small mb-0">Figure 2 </p>
                        <p class="text-dark m-0 mb-0">0.0</p>
                    </div>
                </a>

            </div>
            <h4 class="page-title">@ViewData["Title"] (@Model.RecordCount)</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body p-2 p-md-3">

                <div class="text-center float-md-right">
                    <a href="@Url.Action("Add")" class="btn btn-outline-primary btn-icon-text">
                        <i class="mdi mdi-plus-circle-outline"></i>
                        Add  Booking  Slot
                    </a>
                </div>

                <div class="row justify-content-md-start justify-content-center">

                    <div class="p-1 pl-0">
                        @Html.EditorFor(model => model.KeyW, new { htmlAttributes = new { @class = "form-control", placeholder = "Search", id = "txtKeyW", autofocus = "autofocus", onkeyup = "SearchStart()" } })
                        @Html.ValidationMessageFor(model => model.KeyW, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div id="divLoad" class="d-flex justify-content-center mt-2 position-absolute w-100">
                    <div id="spnLoad" class="spinner-border " role="status"></div>
                </div>

                <div id="divRecords" class="m-0 p-0 mt-2"></div>

                <input type="hidden" id="txtRecordCount" value="@Model.RecordCount" />
                <input type="hidden" id="txtPageSize" value="@Model.PageSize" />

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Allocate Slot </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                   
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Slot :</label>
                        @Html.DropDownList("Slot", commonDDL.SlotList(), "(Select Avaliable Slot)", htmlAttributes: new { @class = "", id = "cmbGender" })

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Slot Not Available</button>
                <button type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_Pagination", Model.PaginationList)

@section Scripts {
        //@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script src="~/js/pagination.js" asp-append-version="true"></script>

    <script title="Main">

        var Page = 1;
        var PageURL = '/V_Number_Tem/_MainList';

        $(document).ready(function () {

            LoadPage(1);

            $('.btn-edit-profile').click(function () {
                $('#exampleModal').modal('show');
            });
        });

        function GetData(pageNo) {
            var KeyW = $("#txtKeyW").val();
            Page = pageNo;
            var PageSize = $("#txtPageSize").val();

            var data = {
                KeyW: KeyW,
                Page: Page,
                PageSize: PageSize
            };

            return data;
        }


    </script>


    <script title="Search">

        function SearchStart() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("txtKeyW");
            filter = input.value.toUpperCase();
            table = document.getElementById("tblBody");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                td1 = tr[i].getElementsByTagName("td")[1];

                if (td) {
                    txtValue = td.textContent || td.innerText;
                    txtValue = txtValue + ' ' + td1.textContent || td1.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $("#txtKeyW").on("keydown", function search(e) {
            if (e.keyCode == 13) {
                Search();
            }
        });

        function Search() {

            var KeyW = $("#txtKeyW").val();

            var url = '@Url.Action("Index", "V_Number_Tem")';

            var ParamPart = "&";
            ParamPart = ParamPart + ((KeyW != "") ? '&KeyW=' + KeyW : '');

            ParamPart = ParamPart.replace("&&", "");

            window.location.href = url + '?' + ParamPart;
            event.preventDefault();
        };

    </script>

}



