@model V_Number_Temp
@inject DropDown.ISampleDDL SampleDDL
@{
    ViewData["Title"] = "Booking";

    ViewData["DashboardActive"] = "active";

}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="mt-2 alert alert-danger  @(TempData["ErrorMessage"] == null ? "d-none" : "")">
            @(TempData["ErrorMessage"])
        </div>
        <div class="mt-2 alert alert-success  @(TempData["SuccessMessage"] == null ? "d-none" : "")">
            @(TempData["SuccessMessage"])
        </div>
    </div>
</div>
<!-- end page title -->
@using (Html.BeginForm("Add", "Home", new { area = "CustomerBooking" }, FormMethod.Post))
{
    
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <div class="form-group row d-none">
                        @Html.LabelFor(model => model.ReturnURL, htmlAttributes: new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @Html.EditorFor(model => model.ReturnURL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ReturnURL, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row d-none">
                        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.V_Number, htmlAttributes: new { @class = "col-4 col-form-label" })
                        <div class="col-8">
                            @Html.EditorFor(model => model.V_Number, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.V_Number, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class = "col-4 col-form-label">Booking time</label>
                        <div class="col-8">
                            @Html.EditorFor(model => model.In_Time,   new { htmlAttributes = new { id = "xbasic-datepicker", @class = "form-control flatpickr-input active" } })
                            @Html.ValidationMessageFor(model => model.In_Time, "", new { @class = "text-danger" })
                        </div>
                    </div>

                   
 

                    <div class="form-group row">
                        <div class="col-4">
                        </div>
                        <div class="col-8">
                            <button type="submit" class="btn btn-primary mr-2">Book Now</button>
                            &nbsp;
                            
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <h4> Booking Details</h4>

                    <div id="divRecords" class="m-0 p-0 mt-2">
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap table-striped">
                                <thead>
                                    <tr>
                                        <th class="d-none">@Html.DisplayNameFor(model => model.Id)</th>
                                        <th>@Html.DisplayNameFor(model => model.V_Number)</th>
                                        <th>@Html.DisplayNameFor(model => model.In_Time)</th>
                                        <th>@Html.DisplayNameFor(model => model.Out_Time)</th>
                                        <th>@Html.DisplayNameFor(model => model.Status)</th>
                                       
                                    </tr>
                                </thead>
                                <tbody id="tblBody">
                                    @foreach (var item in Model.DataList)
                                    {
                                         
                                            <tr id=" ">
                                                <td class="d-none">@*@Html.DisplayFor(modelItem => item.Id)*@</td>
                                            <td>@Html.DisplayFor(modelItem => item.V_Number)</td>
                                            <td>@item.In_Time</td>
                                            @if (item.Status != "P" && item.Status != "SNA")
                                            {
                                                <td>@Html.DisplayFor(modelItem => item.Out_Time)</td>
                                            }
                                            else{
                                                <td>-</td>
                                            }
                                            <td><span class="badge badge-@item.ActiveStatusClass">@item.ActiveStatusText</span></td>
                                            
                                        </tr>
                                         
                                    }
                                </tbody>
                            </table>
                        </div>



                    </div>



           


                </div>
            </div>
        </div>
    </div>

}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/datepicker.js"></script>

    <script>

    </script>

}



